@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Quicksand:wght@300&family=Roboto&family=Roboto+Mono:wght@100&display=swap');

.matches {
    max-width: 80%;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    background-color: white;
    margin: auto;
    margin-top: 6rem;
}

.header {
    height: 5rem;
    background-color: #E07C24;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.header h1 {
    font-family: 'Roboto', sans-serif;
    font-size: bold;
    color: aliceblue;
}

.schedules {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 0.6rem;
    background-color: #758283;
    border-radius: 8px;
    align-items: center;
}

.schedule {
    background-color: #5f0acfe2;
    border-radius: 32px;
    padding: 4px 16px;
    width: 40%;
    text-align: center;
    margin: 0.6rem;
}

.schedule h1 {
    color: #E03B8B
}

@media (max-width: 40rem) {
    .matches {
        max-width: 100%;
        margin-top: 0;
    }

    .schedule {
        width: 100%;
    }

    .schedule h1 {
        font-size: medium;
    }
}
